* {
  outline: 1px solid red;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #C38181;
}








/* Top Black Bar */

div.topbar {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: black;  
  padding: 10px;  
}








/* Sidebar Navigation */

nav {
    height: 100%;
    width: 200px;
}

nav ul {
  position: absolute;
  top: 80px;
}











/* Card Container */

.mainbody {
  width: 1000px;
  height: 1000px;
  position: center;
  color: black;
  }









/* Footer */

  footer{
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: black;   
  text-align: center;
  font-style: italic;
  }

  footer ul {
    list-style-type: none;  
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
  }

  footer li {
      max-width: 200px;
      color: white;
      padding: 10px;
  }
